name: Minimal Android CI Workflow

on:
  push:
    branches:
      - deploy

jobs:
  apk:
    name: Build & Deploy APK
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
          
      - name: Build APK
        run: bash ./gradlew assembleDebug --stacktrace
  
      - name: Release APK
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "test release 2"
          files: "**.apk"
